#activelink {
    background-color: #1498D6;
    text-decoration: none;
    color: white;
    border-radius: 3px;
    font-family: QuickSand;
    font-weight: bold;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 25px;
    padding-right: 25px;
}

#disablelink,
#btnautent,
#btndesautent,
#linklog {
    text-decoration: none;
    color: white;
    font-family: QuickSand;
    font-weight: bold;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 25px;
    padding-right: 25px;
}

#navStyle {
    background-color: rgba(0, 0, 0, 0.137)
}

#homeSectionImage {
    height: 85vh;
    background-image: url('img/Imagem4_.png');
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-device-width:768px) {
    #navStyle {
        background-color: #E7E7E7;
        position: relative;
    }

    #backshadow {
        width: 85%;
        height: 85vh;

    }
    #myCatalog{
        margin-left: 12%;
    }
}

@media (min-device-width:769px) {
    #backshadow {
        width: 35%;
    }
}

#welcomeText {
    font-family: QuickSand;
    font-weight: bold;
    color: white;
}

#firstImage {
    background-repeat: no-repeat;
    background-size: 100%;

}

#generaltext {
    font-family: QuickSand;
    color: #00357A;
    font-weight: bold;
    padding-top: 3%;
    padding-bottom: 3%;
}

#generaltextwhite {
    font-family: QuickSand;
    color: #ffffff;
    font-weight: bold;
}

#subtext {
    width: 250px;
    font-family: QuickSand;
    color: #00357A;
}

#footer {
    background-color: #1498D6;
    color: white;
    font-family: QuickSand;
    margin-top: 3%;
}

#logoFooter {
    width: 150px;
    margin-bottom: 2%;
}

.link {
    text-decoration: none;
    color: white;
}

#btnlogin,
#btnregister,
#btnknowmore {
    background-color: #1498D6;
    color: white;
    font-family: QuickSand;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    height: 40px;
}

#lettering {
    font-family: QuickSand;
    color: #00357A;
}

@media (max-device-width:812px) {
  .sizevideo{
      height:300px;
  }
}
.gauge-container > .gauge > .dial {
    stroke: #334455;
    stroke-width: 2;
  }
  
  .gauge-container > .gauge > .value {
    stroke: rgb(47, 227, 255);
    stroke-width: 2;
  }
  
  .gauge-container > .gauge > .value-text {
    fill: rgb(47, 227, 255);
    font-family: sans, 'sans-serif';
    font-weight: bold;
    font-size: 0.6em;
}
#map {
    height: 500px;
    border-radius: 5px;
  }
