#activelink {
    background-color: #1498D6;
    text-decoration: none;
    color: white;
    border-radius: 3px;
    font-family: QuickSand;
    font-weight: bold;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 25px;
    padding-right: 25px;
}

#disablelink,#btnautent,#btndesautent,#linklog {
    text-decoration: none;
    color: white;
    font-family: QuickSand;
    font-weight: bold;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 25px;
    padding-right: 25px;
}

#navStyle {
    background-color: rgba(0, 0, 0, 0.137)
}

#homeSectionImage {
    height: 85vh;
    background-image: url('/img/Imagem4_.png');
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-device-width:768px) {
    #navStyle {
        background-color: #E7E7E7;
        position: relative;
    }

    #backshadow {
        width: 85%;
        height: 85vh;

    }
}

@media (min-device-width:769px) {
    #backshadow {
        width: 35%;
    }
}

#welcomeText {
    font-family: QuickSand;
    font-weight: bold;
    color: white;
}

#firstImage {
    background-repeat: no-repeat;
    background-size: 100%;

}

#generaltext {
    font-family: QuickSand;
    color: #00357A;
    font-weight: bold;
    padding-top: 3%;
    padding-bottom: 3%;
}

#generaltextwhite {
    font-family: QuickSand;
    color: #ffffff;
    font-weight: bold;
}

#subtext {
    width: 250px;
    font-family: QuickSand;
    color: #00357A;
}

#footer {
    background-color: #1498D6;
    color: white;
    font-family: QuickSand;
    margin-top: 3%;
}

#logoFooter {
    width: 150px;
    margin-bottom: 2%;
}

.link {
    text-decoration: none;
    color: white;
}

#btnlogin,
#btnregister,
#btnknowmore {
    background-color: #1498D6;
    color: white;
    font-family: QuickSand;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    height: 40px;
}

#lettering {
    font-family: QuickSand;
    color: #00357A;
}

/* activity */
.container1 {
    position: relative;
    width: 287px;
}

.imagecategory {
    width: 287px;
    height: auto;
}

.textcategory {
    color: white;
    font-size: 40px;
    font-family: QuickSand;
    font-weight: 500;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.overlayactivity {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #1498d6d3;
    overflow: hidden;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: .5s ease;
    border-radius: 5px;
}

.container1:hover .overlayactivity {
    opacity: 1;
}

#button {
    font-family: QuickSand;
    font-weight: 700;
    color: #1498D6;
    background-color: white;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

#detailactivity {
    color: #1498D6;
    font-family: QuickSand;
    border-radius: 5px;
    box-shadow: 0px 2px 2px grey;
}

/*Atividades já categorizadas*/
.card-custom {
    overflow: hidden;
    min-height: 450px;
    box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
}

.card-custom-img {
    height: 200px;
    min-height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-color: inherit;
}

/* First border-left-width setting is a fallback */
.card-custom-img::after {
    position: absolute;
    content: '';
    top: 161px;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-top-width: 40px;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 545px;
    border-left-width: calc(575px - 5vw);
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: inherit;
}

.card-custom-avatar img {
    border-radius: 0px;

    position: absolute;
    top: 100px;
    left: 1.25rem;
    width: 100px;
    height: 100px;
}

/*admin Page*/
table {
    width: 100%;
    border: 1px solid black;
}

th,
td {
    border: 1px solid black;
}
/*Botões Categorias*/
.btn-dark-blue {
    background: #7474BF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #348AC7, #7474BF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #348AC7, #7474BF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
    border: 3px solid #eee;
}

.btn-green-moon {
    background: #56ab2f;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #a8e063, #56ab2f);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #a8e063, #56ab2f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
    border: 3px solid #eee;
}

.btn-orange-moon {
    background: #fc4a1a;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f7b733, #fc4a1a);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f7b733, #fc4a1a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
    border: 3px solid #eee;
}

.btn-dark-moon {
    background: #141E30;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
    border: 3px solid #eee;
}