@media (min-width: 1000px) {
    .banner {
        background-image: url(https://i.pinimg.com/originals/51/95/eb/5195ebb8c5f9772deda82aa2937134d3.jpg);
        background-size: 100%;
        height: 800px;
        background-repeat: no-repeat;
    }

    #selectedNavBtn {
        background-color: #1498D6;
        border-radius: 25px;
        text-decoration: none;
        color: white;
        font-family: QuickSand;
        font-weight: bold;
        padding-top: 1%;
        padding-bottom: 1%;
        padding-left: 15px;
        padding-right: 15px;
        box-shadow: 0px 3px #b5b5b550;
    }

    #unselectedNavBtn {
        text-decoration: none;
        color: #B5B5B5;
        font-family: QuickSand;
        font-weight: bold;
        padding-top: 1%;
        padding-bottom: 1%;
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media (max-width: 999px) {
    .banner {
        background-color: #b5b5b5;
    }

    #selectedNavBtn {
        background-color: #1498D6;
        border-radius: 25px;
        text-decoration: none;
        color: white;
        font-family: QuickSand;
        font-weight: bold;
        padding-top: 1%;
        padding-bottom: 1%;
        padding-left: 15px;
        padding-right: 15px;
        box-shadow: 0px 3px #b5b5b550;
    }

    #unselectedNavBtn {
        text-decoration: none;
        font-family: QuickSand;
        font-weight: bold;
        padding-top: 1%;
        padding-bottom: 1%;
        padding-left: 15px;
        padding-right: 15px;
    }

    #welcome {
        display: none;
    }

    #novidades {
        margin: none;
    }

    #cards {
        width: 80%;
    }
}

#txtSearch {
    border: none;
    border-radius: 25px;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 30px;
    margin-right: 15px;
}



/* homepage specific*/
#welcome {
    position: relative;
    right: 50px;
    top: 30vh;
    margin-top: 20px;
}

h1 {
    color: white;
    font-family: QuickSand;
    font-weight: bold;
}

#videoBtn {
    margin: 20px;
    background: rgb(20, 152, 214);
    background: linear-gradient(90deg, rgba(20, 152, 214, 1) 0%, rgba(0, 53, 122, 1) 100%);
    border-radius: 25px;
    border: none;
    text-decoration: none;
    color: white;
    font-family: QuickSand;
    font-weight: bold;
}


h2 {
    color: rgba(0, 53, 122, 1);
    font-family: QuickSand;
    font-weight: bold;
    margin-top: 200px;
}

.footer {
    background-color: rgb(20, 152, 214);
}

p {
    color: aliceblue;
}

h4 {
    color: aliceblue;
}



/* activity specific*/



/* helping structures specific*/



/* profil specific*/



/* admin specific*/



/* activities page specific*/