/* all pages */
#activelink {
    background-color: #1498D6;
    border-radius: 20px;
    text-decoration: none;
    color: white;
    font-family: QuickSand;
    font-weight: bold;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 15px;
    padding-right: 15px;
}

#disablelink {
    text-decoration: none;
    color: #9c9c9c;
    font-family: QuickSand;
    font-weight: bold;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 15px;
    padding-right: 15px;
}

#backgroundNavStyle {
    background-color: rgba(0, 0, 0, 0.137);
}

#navStyle {
    background-color: white;
    border-radius: 15px;
}

#welcomeTxt {
    font-family: QuickSand;
    font-weight: bold;
    color: white;
}


@media (max-device-width:999px) {
    #backgroundNavStyle {
        background-color: #E7E7E7;
        position: relative;
    }

    #introDiv {
        display: none;
    }

    #backshadow {
        width: 85%;
        height: 85vh;
    }

    #txtSearch {
        border: none;
        border-radius: 25px;
        padding-top: 1px;
        padding-bottom: 1px;
        padding-left: 5px;
        margin-top: 10px;
        margin-bottom: 5px;
        height: 30px;
        position: relative;
        width: 43vh;
    }
}



@media (min-device-width:1000px) {
    #backshadow {
        width: 50%;
    }

    #txtSearch {
        border: none;
        border-radius: 25px;
        padding-top: 1px;
        padding-bottom: 1px;
        padding-left: 5px;
        margin-left: 25px;
        margin-right: 15px;
    }
}



#generalTextBlue {
    font-family: QuickSand;
    color: #00357A;
    font-weight: bold;
}

#generaltextwhite {
    font-family: QuickSand;
    color: #ffffff;
    font-weight: bold;
}

.link {
    text-decoration: none;
    color: white;
}





/* home page */
@media (min-device-width:1000px) {
    #firstImage {
        background-repeat: no-repeat;
        background-size: 100%;
        height: 85vh;
        background-image: url('/img/Imagem4_.png')
    }
}

@media (max-device-width:999px) {
    #firstImage {
        background-repeat: no-repeat;
        background-size: 100%;
        height: auto;
        background-image: url('/img/Imagem4_.png')
    }
}


/* logs page */

#btnlogin,
#btnregister {
    background-image: linear-gradient(to right, #1498D6, #00357A);
    color: white;
    font-family: QuickSand;
    font-weight: bold;
    border-radius: 25px;
    border: none;
    height: 40px;
}


/* select activities page */

#lettering {
    font-family: QuickSand;
    color: #00357A;
}

#btnknowmore {
    background-image: linear-gradient(to right, #1498D6, #00357A);
    color: white;
    font-family: QuickSand;
    font-weight: bold;
    border-radius: 25px;
    border: none;
    height: 40px;
}


/* activity selected page */



/* helping strucutures page */



/* profil page */



/* admin page */